body {
    background: #1b1b1b;
}

#header {
    background-color: #222222;
    margin-bottom: 50px;
}

.flex-item {
    display: flex;
    align-items: center;
}
.flex-item img {
    flex-grow: 0;
    flex-shrink: 0;
}

.table th {
    color: #1ab6d8;
}

.table td {
    color: #fff;
}

h1.ariel {
    font-family: Arial, Helvetica, sans-serif;
}

div.ariel {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    border-right: 1px solid #7289da;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #7289da;
}

.active {
    background-color: #2c2f33;
}

.synx-table {
    position: absolute;
    width: 100%;
    color: white;
    margin-top: 150px;
}

.synx-table {
    margin-top: 100px;
}

.btn {
    background: #444444;
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    border-radius: 17px;
    font-family: Arial;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-right: 25px;
    height: 50px;
}

.btn:hover {
    background: #666666;
}

a {
    color: #ffffff;
    text-decoration: none; /* no underline */
}

tr {
    min-width: 75%;
}
